body {
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container{
  /* background-image: url(./imgs/w80-wallpaper-gif.gif); */
  /* height: 100vh; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  background-color: black;
}
.lay-out{
position: absolute;
top: 0;
left: 0;
height: 100%;
background-color: black;
width: 100%;
opacity: .3;
}
.poster{
  height: calc(100vh - 89px);
}

.backdrop{
  width: 100%;
}
.lay-con{
  background-repeat: round;
  background-size: cover;
  height: calc(100vh - 72px);
}
.lay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #343a40a8;
  /* z-index: 2; */
  top: 0;
  left: 0;
}
.details{
color: floralwhite;
}
.dropdown-menu{
  background-color: black !important;
}
.card-container {
  box-shadow: 0 0 .5rem wheat;
  border-radius: 10px;
}
.card-container h5 {
color: floralwhite;}
.card-container p {
color: rgba(255, 255, 255, 0.55);}
.card-container img {
 height: 100%;
  width: 100%;
  border-radius: 10px;
}
.info-container{
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000b5;
  height: 0%;
  width: 100%;
  overflow: hidden;
  transition: .5s;


}
.img-cont:hover .info-container{
  height: 100%;
}

.img-cont{
  position: relative;
 
}
a {
  text-decoration: none !important;
  color :white !important;
}
/* .navbar li:hover{
  background-color: black !important;
} */
.dropdown-item:hover{
  background-color: black !important;
}
.popular-cont,
.top-rated-com{
  background-color: #247574;
}
.top-rated-cont{
  background-color: #247574;
  
}
.popular-cont .btn,
.top-rated-com .btn
{
background-color: black !important;
border: none !important;
outline: none !important;
font-weight: bolder;
border-radius: 25px;

}
.popular-cont .btn.active,
.top-rated-com .btn.active
{
background-color: white !important;
color: black;

}
.popular-cont .btn.active:hover{
background-color: white !important;
color: black;

}
.top-rated-com  .btn.active:hover{
background-color: white !important;
color: black;

}
.popular-cont .btn:hover,
.top-rated-com .btn:hover  {
background-color: black !important;
border: none;
outline: none;
}
.btns-container{
  display: flex!important;
    width: fit-content;
    background-color: black;
border-radius: 25px;

}
.tabs-container{
  justify-content: space-between;
  align-items: baseline;
}

.top-rated-com{

}
.dropdown-menu {
  left: -60% !important;
}
 /*   Loader Component */
.Bounce{
  width: 25px;
    height: 25px;
    margin: 0  auto;
    background-color: white;
    border-radius: 50%;
     position: absolute; 
     top: 50%;
    left: 50%; 
    animation: Bounce 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate;
    box-shadow: 0 0 .5rem white;

}

.right{
  animation: right 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate; 
}
.top{
  animation: top 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate;
}
.bottom{
  animation: bottom 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate;
}
.left{
  animation: left 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate;

}
.threed{
  animation: threed 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate;

}
@keyframes top { from {
  transform: translateY(0);
  }
  to{
    transform: translateY(50px);
  }
  }
@keyframes right { from {
transform: translateX(0);
}
to{
  transform: translateX(50px);
}
}
@keyframes bottom { from {
transform: translateY(0);
}
to{
  transform: translateY(-50px);
}
}
@keyframes left { from {
transform: translateX(0);
}
to{
  transform: translateX(-50px);
}
}

@keyframes threed { from {
transform: scale(0);
}
to{
  transform: scale(10px,10px);
}
}
.bounce-container{
  position: absolute;
  background-color: black;
  height: 100%;
}
 /*   Loader Component */
/* pagination*/
.pagination{
  background-color: blue;
  color: black;
}
.pagination a{
  background-color: blue;
  color: black;
}
img{
  border-radius: 15px;
}
h6{
  margin-bottom: 0;
}
.tabs-container{
  background-image: url("./imgs/bg.png");
  background-color: black;
}


.no-movies{
height: calc(100vh - 72px) ;
position: relative;
}
.no-moviestext{
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  left: 50%;
  width: 100%;
}
.no-moviestext h1{
  color: wheat;
}

